docs/diagrams/*_gen.puml
docs/diagrams/*.png
docs/diagrams/*.svg

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/adapter
/kubegraph

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# vendor folder
vendor/

# development temporary files
tmp/

# goreleaser build and distribution files
dist/

# SonarQube
.scannerwork/

# lint, test and coverage reports
golangci-lint-report.xml
test-report.json
coverage.html

# sample file conversions
sample.*
!sample.yaml

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
