name: CI

on:
  push:
    branches:
    - master
    tags:
    - '*'
    paths:
    - .github/workflows/integration.yml
    - .golangci.yaml
    - .goreleaser.yaml
    - sonar-project.properties
    - Dockerfile
    - .dockerignore
    - go.mod
    - go.sum
    - '**.go'
  pull_request:
    branches:
    - master
    paths:
    - .github/workflows/integration.yml
    - .golangci.yaml
    - .goreleaser.yaml
    - sonar-project.properties
    - Dockerfile
    - .dockerignore
    - go.mod
    - go.sum
    - '**.go'

env:
  GOLANG_VERSION: 1.16
  GOLANG_FLAGS: -race -mod=vendor
  WORK_DIR: /usr/src

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: set golang environment variables
      uses: wwmoraes/actions/golang/env@master
    - name: cache modules
      uses: actions/cache@v2.1.4
      with:
        path: ${GOMODCACHE}
        key: ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
          ${{ runner.os }}-modules-
    - name: download dependencies
      run: go mod download
    - name: cache vendor
      uses: actions/cache@v2.1.4
      with:
        path: vendor
        key: ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
        restore-keys: |
          ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
          ${{ runner.os }}-vendor-
    - name: vendor dependencies
      run: go mod vendor
    - name: cache build
      uses: actions/cache@v2.1.4
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-build-
    - name: build
      uses: wwmoraes/actions/golang/build@master
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: set golang environment variables
      uses: wwmoraes/actions/golang/env@master
    - name: cache modules
      uses: actions/cache@v2.1.4
      with:
        path: ${GOMODCACHE}
        key: ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
          ${{ runner.os }}-modules-
    - name: download dependencies
      run: go mod download
    - name: cache vendor
      uses: actions/cache@v2.1.4
      with:
        path: vendor
        key: ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
        restore-keys: |
          ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
          ${{ runner.os }}-vendor-
    - name: vendor dependencies
      run: go mod vendor
    - name: cache lint
      uses: actions/cache@v2.1.4
      with:
        path: ${HOME}/.cache/golangci-lint
        key: ${{ runner.os }}-lint-${{ hashFiles('.golangci.yaml') }}
        restore-keys: |
          ${{ runner.os }}-lint-${{ hashFiles('.golangci.yaml') }}
          ${{ runner.os }}-lint-
    - name: lint
      uses: wwmoraes/actions/golang/lint@master
      id: lint
      with:
        work-dir: ${{ env.WORK_DIR }}
    - name: upload lint report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: lint-report
        path: ${{ steps.lint.outputs.report-file }}
  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: set golang environment variables
      uses: wwmoraes/actions/golang/env@master
    - name: cache modules
      uses: actions/cache@v2.1.4
      with:
        path: ${GOMODCACHE}
        key: ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
          ${{ runner.os }}-modules-
    - name: download dependencies
      run: go mod download
    - name: cache vendor
      uses: actions/cache@v2.1.4
      with:
        path: vendor
        key: ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
        restore-keys: |
          ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
          ${{ runner.os }}-vendor-
    - name: vendor dependencies
      run: go mod vendor
    - name: cache test
      uses: actions/cache@v2.1.4
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-test-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-test-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-test-
    - name: test
      uses: wwmoraes/actions/golang/test@master
      id: test
    - name: upload coverage report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: coverage-report
        path: ${{ steps.test.outputs.cover-profile }}
    - name: upload test report
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: test-report
        path: ${{ steps.test.outputs.report-file }}
  report:
    runs-on: ubuntu-latest
    needs: [lint,test]
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: cache sonar scanner
      uses: actions/cache@v2.1.4
      with:
        path: ${{ runner.temp }}/sonar-scanner/cache
        key: ${{ runner.os }}-sonar-scanner-cache-${{ hashFiles('**/sonar-project.properties') }}
        restore-keys: |
          ${{ runner.os }}-sonar-scanner-cache-${{ hashFiles('**/sonar-project.properties') }}
          ${{ runner.os }}-sonar-scanner-cache-
    - name: download lint report
      uses: actions/download-artifact@v2
      with:
        name: lint-report
    - name: download test report
      uses: actions/download-artifact@v2
      with:
        name: test-report
    - name: download coverage report
      uses: actions/download-artifact@v2
      with:
        name: coverage-report
    - name: run sonar scanner
      uses: wwmoraes/actions/sonar-scanner@master
      with:
        token: ${{ secrets.SONAR_TOKEN }}
        work-dir: ${{ env.WORK_DIR }}
        home: ${{ runner.temp }}/sonar-scanner
  release:
    runs-on: ubuntu-latest
    needs: [build,lint,test]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
    - name: checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: setup golang
      uses: actions/setup-go@v2
      with:
        go-version: ${{ env.GOLANG_VERSION }}
    - name: set golang environment variables
      uses: wwmoraes/actions/golang/env@master
    - name: cache modules
      uses: actions/cache@v2.1.4
      with:
        path: ${GOMODCACHE}
        key: ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-modules-${{ hashFiles('go.sum') }}
          ${{ runner.os }}-modules-
    - name: cache vendor
      uses: actions/cache@v2.1.4
      with:
        path: vendor
        key: ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
        restore-keys: |
          ${{ runner.os }}-vendor-${{ hashFiles('go.mod', 'go.sum') }}
          ${{ runner.os }}-vendor-
    - name: cache build
      uses: actions/cache@v2.1.4
      with:
        path: ${GOCACHE}
        key: ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ hashFiles('**/*.go') }}
          ${{ runner.os }}-build-
    - name: run goreleaser
      uses: goreleaser/goreleaser-action@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        version: latest
        args: release --rm-dist
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  docker:
    runs-on: ubuntu-latest
    needs: [build,lint,test]
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: generate docker meta
      id: docker_meta
      uses: crazy-max/ghaction-docker-meta@v1
      with:
        images: ${{ github.repository }}
        tag-edge: true
        tag-semver: |
          {{version}}
          {{major}}
          {{major}}.{{minor}}
        label-custom: |
          org.opencontainers.image.authors=${{ secrets.OCI_AUTHORS }}
          org.opencontainers.image.documentation=https://github.com/${{ github.repository }}
          org.opencontainers.image.source=https://github.com/${{ github.repository }}
          org.opencontainers.image.url=https://github.com/${{ github.repository }}
          org.opencontainers.image.vendor=${{ secrets.OCI_AUTHORS }}
        github-token: ${{ github.token }}
    - name: set up QEMU
      uses: docker/setup-qemu-action@v1
    - name: set up docker buildx
      uses: docker/setup-buildx-action@v1
    - name: cache buildx
      uses: actions/cache@v2.1.4
      with:
        path: ${{ runner.temp }}/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile', '.dockerignore') }}
        restore-keys: |
          ${{ runner.os }}-buildx-${{ hashFiles('Dockerfile', '.dockerignore') }}
          ${{ runner.os }}-buildx-
    - name: build single-arch test image
      uses: docker/build-push-action@v2
      env:
        DOCKER_BUILDKIT: 0
        BUILDKIT_INLINE_CACHE: 1
      with:
        push: false
        load: true
        labels: ${{ steps.docker_meta.outputs.labels }}
        cache-to: |
          type=local,mode=max,dest=${{ runner.temp }}/.buildx-cache
        cache-from: |
          type=local,src=${{ runner.temp }}/.buildx-cache
        tags: ${{ github.repository }}:test
    - name: test structure
      uses: brpaz/structure-tests-action@v1.1.2
      with:
        image: ${{ github.repository }}:test
        configFile: docker-test.yaml
    - name: login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: build & push multi-arch image
      uses: docker/build-push-action@v2
      env:
        DOCKER_BUILDKIT: 1
        BUILDKIT_INLINE_CACHE: 1
      with:
        push: ${{ github.event_name != 'pull_request' }}
        platforms: linux/amd64,linux/arm/v7,linux/arm64
        labels: ${{ steps.docker_meta.outputs.labels }}
        cache-to: |
          type=local,mode=max,dest=${{ runner.temp }}/.buildx-cache
        cache-from: |
          type=local,src=${{ runner.temp }}/.buildx-cache
          ${{ steps.docker_meta.outputs.tags }}
          ${{ github.repository }}:master
          ${{ github.repository }}:latest
        tags: ${{ steps.docker_meta.outputs.tags }}
    - name: update DockerHub description
      if: github.event_name != 'pull_request'
      uses: meeDamian/sync-readme@v1.0.6
      with:
        pass: ${{ secrets.DOCKER_PASSWORD }}
        description: true
